.hms-color-light{
    color: #ff66d6;
}
.hms-bg-normal{
    background-color: #7f005d;
}
.hms-color-dark{
    background-color: #68004c;
    color: #fff;
}


a{
    text-decoration: none;
}

.hms-color{
    color: #7f005d;
}